

body{
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	overflow-x:hidden;
	
}

html{
	scroll-behavior: smooth;
}


* {
  margin: 0;
  padding: 0;
}

.row{
	margin: 0;
}



/*HEADER*/

/* Header Section */
.intro {
	display: table;
	width: 100%;
	min-height: 88vh;
	padding: 0;
	background: url(../images/tooplate_middle_alt2.png) top center no-repeat;
	background-color: #f6f6f6;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.intro .fa {
	font-size: 94px;
	margin-bottom: 40px;
	color: #fff;
}
.intro h3 {
	color: #fff;
	font-size: 45px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.intro p {
	color: #fff;
	font-size: 22px;
	margin-top: 20px;
	line-height: 28px;
	margin-bottom: 20px;
}
.intro .btn-custom {
	border-top: 1px solid rgba(255,255,255,0.4);
	border-bottom: 1px solid rgba(255,255,255,0.4);
}
header .intro-text {
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	padding: 25px 25px;
}

.intro-text i{
	color: white;
	/*size: 20px;*/
}

.intro-text a{
	cursor: pointer;
	
	/*transition: all 0.9s;
    transition-property: all;
    transition-duration: 0.9s;
    transition-timing-function: ease;
    transition-delay: 0s;*/
}

/*GRID - SECTION*/

.grid-list{
	padding-top: 25px;
	padding-bottom: 25px;

}

.r1 {
	margin-bottom: 25px; 
}

.r2{
	margin-bottom: 25px;
}

.round img {
	position: relative;
	width: 165px;
	height: 165px;
	border-radius: 50%;
	border: 10px solid rgba(0,0,0,0.1);
}

.round3 img {
	border-radius: 25px;
	width: 50%;
	margin-top: 20px;
	

}

.more{
	cursor: pointer;
}

.updates{
	padding: 50px 0 50px 0;
	background: #f6f6f6;
}

.update{
	padding: 20px 0 20px 0;
}

.partners{
	padding: 20px 0 20px 0;

}


.thumbnail{
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;
	margin: 10px 0 10px 0;
}



/*FOOTER*/

footer {
	background: #333;
	width: 100%;
	/*padding: 30px 0 20px;*/

}

footer .container{
	padding: 30px 0 20px;
}

footer .social ul li {
	display: inline-block;
	padding: 0 20px;
}

footer p {
	color: #666;
	font-size: 15px;

}






.company{
	padding-top: 25px;
}

.title {
	color: grey;
}

.round2 img {
	position: relative;
	max-width: 65%;
	height: auto;
	border-radius: 50%;
	border: 10px solid rgba(255,255,255,0.1);
}


.fakeimg {
	background-color: #aaa;
	width: 100%;
	padding: 20px;
}



.blg_img img {
	width: 320px;
	padding: 20px;
	height:260px;

}

.blg_img2 img {
	width: 100%;
	padding: 20px;
	height:200px;
	object-fit: cover
}

.span4 img {
	margin-right: 15px;
}
.span4 .img-left {
	float: left;

}
.span4 .img-right {
	float: right;
}

#contact{
	padding: 50px 0;
}

#contact .btn-custom {
	margin: 30px 0;
	background: transparent;
	border: 2px solid #000;
}
#contact .btn-custom:hover {
	color: #fff;
	background: #007BFF;
}

#contact .col-md-6 {
	padding-left: 0;
}

.our_company{
	padding: 0 15px;
}

.products{

}

.blog{
	margin: 25px 0;
}


/*Laser technology*/

.pimg img{
	width: 100%;
}

.laser_page h1{
	color: #007BFF;
	font-size: 30px;
}


.product-detail ul li {
    display: inline-block;
    background-color: #f9f9f9;
    border: none;
    margin: 8px 15px;
    
}

.product-detail ul li a {
    text-align: left;
    font-size: 12px;
    color: #6d7a83;
    line-height: 16px;
    text-decoration: none;
    padding: 10px 10px;
}

.laser_tech .carousel-caption, .instr_detail .carousel-caption {
  bottom: auto;
  top: -10px;
  right: -125px;
}

.laser_tech .carousel h5, .instr_detail .carousel h5 {
	color: #007bff;
	font-weight: bolder;
	font-size: 20px;

}

.laser_tech .carousel-indicators li, .instr_detail .carousel-indicators li{
	background-color: #007bff;
}

.laser_tech .carousel-control-next-icon, .instr_detail .carousel-control-next-icon{
	background-color: #000;
}

.laser_tech .carousel-control-prev-icon, .instr_detail .carousel-control-prev-icon{
	background-color: #000;
}


.laser_page .card{
	padding: 15px 0;
	margin: 15px 0;
}

.laser_page .card-img-top {
	height: 145px;
	max-width: 165px;
}

.laser_page .card-body .btn-primary{
	bottom: 0;
}






.CO2 h2{
	color: #007BFF;
}


.CO2 img, .fiber img, .marking img, .hm img, .spectro img, .particle img, .instruments img, .xrf img, .fe img {
	height: 260px;
	max-width: 295px;
}


.fiber h2{
	color: #007BFF;
}

.sz{
	font-size: 12px;
}

.marking h2{
	color: #007BFF;
}

/*Laser workshop*/
.workshop_intro h1{
	color: #007BFF;
	padding: 18px 0;
	font-size: 40px;
}

.workshop_intro h2{
	font-size: 28px;
}


#myBtnContainer .btn{
	
	margin: 5px 5px;
}


.laser_work .card{
	padding: 15px 0;
	margin: 15px 0;
}

.laser_work .card-img-top {
	height: 180px;
}

.laser_work .card-body .btn-primary{
	bottom: 0;
}


/*Instruments*/

.instruments h1{
	color: #007BFF;
}

.instruments .card-img-top {
	height: 180px;
}

.instr_detail h3{
	color: #007BFF;
}



.workshop img{
	padding: 15px 5px 5px 0;
}

.workshop h1, .serv h1{
	color: #007BFF;
	font-size: 30px;
}



/*flip*/

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 120px;
  height: 50px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  display: inline-block;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front.steel-img {
  background-image: url('../images/materials/steel.jpg');
  color: white;
}

.flip-box-front.wood-img {
  background-image: url('../images/materials/wood.jpg');
  color: white;
}

.flip-box-front.acrylic-img {
  background-image: url('../images/materials/acrylic.jpg');
  color: white;
}

.flip-box-front.fabric-img {
  background-image: url('../images/materials/fabric.png');
  color: white;
}

.flip-box-front.paper-img {
  background-image: url('../images/materials/paper.jpg');
  color: white;
}

.flip-box-front.leather-img {
  background-image: url('../images/materials/leather.jpg');
  color: white;
}

/* Style the back side */
.flip-box-back {
  transform: rotateY(180deg);
}

.flip-box-front img{
	width: 120px;
	height: 50px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*flip-end*/


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 600px){
	header .intro-text {
	margin-top: 0px;
	margin-bottom: 0px;
	
}

.workshop_intro h1{
	font-size: 30px;
	padding: 10px 0;
}

.workshop_intro p{
	font-size: 16px;
}

.workshop_intro h2{
	font-size: 18px;
	margin-bottom: 16px;
}

.glry h4{
	font-size: 18px;
}

.glry p{
	font-size: 12px;
	margin-bottom: 0px;
}

#myBtnContainer .btn{
	font-size: 12px;
	padding: 5px;
	margin: 4px;
}

.instr_detail h2{
	font-size: 22px;
	padding: 0px;
}

.instr_detail h3{
	font-size: 18px;
}


.intro{
	min-height: 30vh;
	height: calc(var(--vh, 1vh) * 90);
}

.intro-text h3{
  font-size: 30px;
}

.intro-text p{
  font-size: 16px;
}

.round img {
	position: relative;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 10px solid rgba(0,0,0,0.1);
}

.products h3{
	font-size: 18px;
}

.products p{
	font-size: 12px;
}

.instruments h1{
	font-size: 30px;
}

} 


.fltb .btn{
	border: 1px solid black;
	margin-bottom: 5px;
}

/*-----------------------------*/

	/* Back to top button */

	.back-to-top {
		position: fixed;
		display: none;
		background: #007BFF;
		color: #fff;
		width: 44px;
		height: 44px;
		text-align: center;
		line-height: 1;
		font-size: 16px;
		border-radius: 50%;
		right: 15px;
		bottom: 15px;
		transition: background 0.5s;
		z-index: 11;
	}

	.back-to-top i {
		padding-top: 12px;
		color: #fff;
	}


	.boxes{
		height: 300px;
		width: 300px;
		border: 10px solid black;
	}


	@media (max-width: 768px) {
		.back-to-top {
			bottom: 15px;
		}
	}


	.fltb{
		padding-bottom: 12px;
	}


	/*---------------------------------------------------*/

	    /*PHOTOSWIPE*/

    .my-gallery {
    	width: 100%;
    	float: left;
    }
    .my-gallery img {
    	width: 100%;
    	height: auto;
    }
    .my-gallery figure {
    	display: block;
    	float: left;
    	/*margin: 0 5px 5px 0;*/
    	/*width: 150px;*/
    }
    .my-gallery figcaption {
    	display: none;
    }



